.page-chapter-container {
  margin: 20px 0px;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}

.page-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 30vh;
}

.chapter-title {
  font-size: 32px; 
  font-weight: 600; 
  padding: 0; 
  font-family: SuisseWorks;
}

.tools-container {
  user-select: none;
  cursor: -webkit-grab;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: rgba(55, 53, 47, 0.3);
  height: auto;
  min-width: 60px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  fill: inherit;
  border-radius: 3px;
  pointer-events: auto;
  flex-shrink: 0;
  backface-visibility: hidden;
}

.icon-container:hover {
  background-color:rgba(55, 53, 47, 0.08);
}

.plus {
  width: 16px;
  height: 16px;
}

.trash {
  width: 16px;
  height: 16px;
}

.block {
  color: #1c1c1f;
}

.blocks-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-block {
  margin-top: 10px;
}

.iframe-container {
  max-width: 450px;
  max-height: 250px;
  width: 100%;
  height: auto;
}

.basic-blocks {
  width: 100%;
  cursor: pointer;
}

.basic-blocks:hover, .basic-blocks:focus {
  background: rgba(55, 53, 47, 0.08);
  border-radius: 3px;
}

.modal-item {
  display: inline-flex;
  align-items: center;
  height: 28px;
  cursor: pointer;
  padding: 2px 8px;
}

.modal-item.active {
  border-bottom: 2px solid rgb(55, 53, 47);
}

.select-step-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width:34.38em) {
  .select-step-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .page-chapter-container {
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
  }

  .blocks-container {
    
  }
} 

