.ant-card-body {
  padding: 12px;
}

.ant-card-meta-title {
  font-size:14px;
}

.card-learning {
  display: inline-block;
  width: 230px;
  margin: 20px;
  vertical-align: top;
  text-align: left;
}

@media only screen and (max-width: 760px) {
  .card-wrapper {
    text-align: center
  }
}

.card-wrapper {
  margin-right: -10px;
  margin-left: -10px;
}
