.carousel-container {
  max-height: none;
  overflow: visible;
  visibility: visible;
}

.carousel-grid {
  width:100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 24px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 75%;
  scroll-padding: 2.4rem;
  grid-gap: 1.6rem;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-grid > :last-child {
  margin-right: 24px;
}

.carousel-grid::-webkit-scrollbar {
  display: none;
}

.carousel-items {
  min-width: .1rem;
  scroll-snap-align: start;
}

@media screen and (min-width: 37.56em) {
  .carousel-grid {
    grid-auto-columns: calc((100% - (2 - 1) * 1.6rem)/2);
  }
}

@media screen and (min-width: 43.81em) {

  .carousel-grid {
    grid-auto-columns: calc((100% - (3 - 1) * 1.6rem)/3);
  }
}

@media screen and (min-width: 61.31em) {
  .carousel-grid {
    grid-auto-columns: calc((100% - (4 - 1) * 1.6rem)/4);
  }
}
