.ant-popover-inner-content {
  padding: 0;
}

.hover-cart-container {
  width: 350px;
  height: auto;
  padding: 12px;
  border-bottom: 1px solid #D1D7DB;
}

.hover-cart-container img {
  width: 70px;
  height: 70px;
  aspect-ratio: auto 100 / 100;
}

.hover-cart-info {
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.hover-cart-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 245px;
}

.hover-cart-price {
  display: block;
  font-weight: 600;
}

.hover-cart-remove {
  color: #5624d0;
  text-decoration: none;
}

.hover-cart-remove:hover {
  color: #775DBA;
  text-decoration: underline;
}

.hover-cart-empty {
  padding: 24px;
  text-align: center;
}

.empty-cart-container {
  width: 100%;
  display:flex;
  justify-content: center;
}

.empty-cart-content {
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0 0 2px #d1d7dc;
  padding: 24px;

}

.empty-cart-content p {
  max-width: unset;
}

.empty-cart-content img {
  width: clamp(190px, 100%, 240px);
  height: auto;
}