:root {
  --biggest-font-size: 2rem;
  --h1-font-size: calc(28px + 1vw);
  --h2-font-size: calc(24px + 1vw);
  --h3-font-size: calc(18px + 1vw);
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-small: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;
  --body-font: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-small);
  line-height: 1.4;
  color: #1c1c1f;
}

h1, h2, h3, h4 {
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
  color:unset;
}

a:hover, a:focus {
  text-decoration: none;
  color:unset;
}

img {
  max-width:100%;
  height: auto;
}

button, input {
  border: none;
  outline: none;
}

button {
  display: inline-block;
  margin: unset;
  padding: unset;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  text-decoration: none;
  background: unset;
  color: #1c1c1f;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul {
  display: block;
  list-style-type: disc;
}

.button-text-primary {
  padding: 0px 12px
}

.btn-outline {
  border: 1px solid;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 12px
}

.btn-black {
  width: 100%;
  height: 48px;
  font-weight: 700;
  text-align: center;
  border: solid;
  border-color: #1c1d1f;
  background-color: #1c1d1f;
  color: white;
}

.btn-black:hover, .btn-black:focus, .btn-black:active{
  border-color: black;
  background-color: black;
  color: white;
}

.button-text-primary:hover {
  color: #5624d0;
  transition: linear 150ms;
}

.button-text-primary:focus {
  color: #5624d0;
}

.button-primary {
  background-color: #a435ef;
  border-color: #a435ef;
  color:white;
  width:100%;
  height: 48px;
}

.button-primary:hover, .button-primary:focus, .button-primary:active {
  background-color: #8710D8;
  border-color: #8710D8;
  color:white;
}

.teacher-container {
  margin-top: 50px;
  margin-bottom: 60px;
}

.teacher-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.teacher-container img {
  margin-bottom: 20px;
}

.teacher-container h3 {
  letter-spacing: unset;
  font-weight: 600;
}

.teacher-img {
  display:block;
  margin: 0 auto 24px;
}

h1 {
  display: block;
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  max-width: 450px;
}

h2 {
  font-size: var(--h2-font-size);
  letter-spacing:-.02rem;
}

h1, h2, h3 {
  font-family:'SuisseWorks'; 
  letter-spacing:-.05rem;
  line-height:1.25;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p, h2, h3, h4, h5, h6 {
  max-width: 600px;
}

.loading-container {
  width: 100%;
  height: auto;
  padding-top: 60px;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  max-width: unset;
}

.billboard-img {
  background: #f7f9fa;
  display: block;
  margin: 0 auto;
}

@media (min-width: 61.31em) {
  .teacher-container {
    display: flex;
    padding: 0;
  }
  .teacher-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    text-align: left;
  }
}