.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: #1c1d1f;
  font-weight: 600;
  line-height: -.02rem;
  font-size: 16px;
  border: 1px solid #1c1d1f;
  border-radius: 0px;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-selector:hover,
.ant-select-open .ant-select-selector {
  border-color: #1c1d1f !important;
  box-shadow: none !important;
  background-color: rgba(0,0,0,.04) !important;
}

.ant-select-arrow {
  color: #1c1d1f;
}

.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.courses-sort-row {
  margin-top: 16px;
}

.courses-list {
  margin: 64px 0px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 24px;
}

.instructor-card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d7dc;
  max-width: 350px;
}

.instructor-image-container {
  width: 100%;
  height: auto;
}

@media (min-width: 48em) {
  .instructor-card-container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
  }
  .instructor-image-container {
    width: 30%;
    height: 100%;
  }
}