.ant-layout-sider-dark {
  background-color: #1C1D1F;
  box-shadow: 0 4px 8px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 24%);
  z-index: 11;
  height: 100vh;
}

.ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark, .ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #1C1D1F;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #1C1D1F;
  box-shadow: 4px 0 #a435f0 inset;
}

#infoBtn {
  position: fixed;
  z-index: 9999;
  top: 90vh;
  left: 80vw;
}
#infoLabel {
  display: none;
}

.login-btn {
  color: #5624d0;
  font-weight: 400;
  font-size: 14px;
}

@media (min-width: 48em) {
  #infoLabel {
    display: initial;
  }
}
@media (min-width: 62em) {
  #infoBtn {
    position: fixed;
    z-index: 99;
    top: 90vh;
    left: 80vw;
  }
}