.navbar {
  z-index: 10;
  top:0;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 55px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.backoffice-navbar {
  z-index: 10;
  top:0;
  position: fixed;
  background-color: #1c1d1f;
  color: white;
  width: 100%;
  height: 55px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.backoffice-sider {
  display: none;
}

.backoffice-drawer {
  display: block;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo-container {
  position: absolute;
  width: 50px;
  top: 0;
  left: 50%;
  margin-top: 6px;
  padding: 5px;
  transform: translateX(-50%);
}

.backoffice-logo {
  width: 40px;
  height: 30px;
  margin: 20px;
}

.burger-btn {
  padding: 10px;
}

.backoffice-burger-btn {
  margin: 0 12px;
  display: block;
}

.desktop-visible {
  display:none;
}

.backoffice-visible {
  display: none;
}

.drawer-badge {
  width: 64px;
  height: 64px;
  background: #1c1d1f;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  object-fit: cover;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.nav-container {
  color: white;
  margin-top: 20px;
}

.nav > li {
  display: inline-block;
  padding: 0;
  margin: 0 30px 0 0;
}

.nav > li.active > a, .nav > li > a:hover {
  border-bottom-color: rgba(255,255,255,.7);
  color: #fff;
}

.nav > li > a{
  padding: 0 0 5px;
  border-bottom: 6px solid transparent;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .backoffice-navbar {
    z-index: 10;
    top:0;
    position: fixed;
    background-color: white;
    color: #1c1d1f;
    width: 100%;
    height: 55px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 0;
  }

  .backoffice-visible {
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .backoffice-sider {
    display: block;
    background-color: #1c1d1f;
  }

  .backoffice-drawer {
    display: none;
  }

  .backoffice-burger-btn {
    display: none;
  }
}

.participant-button {
  color: #3e4143;
  border: 1px solid transparent;
  padding: 12px;
  text-align: center;
}

.participant-button:hover, .participant-button:focus {
  background: rgba(28,29,31,.05);
  border-color: rgba(28,29,31,.05);
}

@media (min-width: 62em) {
  .desktop-visible {
    display:initial;
  }

  .mobile-visible {
    display:none;
  }

  .burger-btn {
    display: none;
  }

  .logo-container {
    margin-left: 20px;
    position: unset;
    transform: unset;
  }

  .navbar {
    z-index: 10;
    top:0;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
}