.product-container {
  margin: -24px -24px 0px -24px;
  padding: 24px;
  background-color: #1C1D1F;
  display: flex;
  justify-content: center;
  color: white;
}

.product-container h1, .product-container h2, .product-container h3, .product-container p {
  color: white;
  font-size: 24px;
  font-family: unset;
}

.product {
  margin: 10px 0;
}

.product-container img {
  width: 100%;
  height: auto;
}

.product-extra-container {
  padding-top: 24px;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secondary-content {
  width: 100%;
  max-width: 450px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.text-container {
  margin-top: 15px;
}

@media (min-width: 48em) {
  .main-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
  }

  .secondary-content {
    max-width: 800px;
  }

  .text-container {
    margin-top: 0px;
    margin-left: 15px;
  }
}