.value-props {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 32px 0 0;
}

.props-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.props-title {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -.02em;
  font-size: calc(12px + 1vw);
  max-width: 340px;
  text-align: center;
}

.props-text {
  max-width: 340px; 
  text-align: center;
  margin-top: 4px;
  font-size:calc(8px + 1vw);
}

@media screen and (min-width: 43.75em) {
  .props-container {
    flex-direction: unset;
  }

  .value-props {
    margin: 32px;
  }
}
